<%- include('../includes/admin/header',{page_title: 'Interview Managment'}); %>
<div class="col-sm-9">
      <h4 class="title">
             <strong><i class="glyphicon glyphicon-pushpin"></i> Bundle Interview</strong>
             <a href="/admin/bundel" class="btn btn-primary btn-sm pull-right">Add a new Interview</a>
      </h4>
      <hr>
            <div class="row">
              <div class="col-md-12">
              <%- include('../includes/admin/message'); %>

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Publish at</th>
                      <th>Language</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%  result.forEach( (item, index) => { %>
                    <tr>
                      <th scope="row"><%=  ++row %></th>
                      <td><%= item.name %></td>
                      <td><%= dateFormat(item.publishDate, 1) %> at <%= dateFormat(item.publishDate, 2) %></td>
                      <td><%= item.language %></td>
                      <td class="text-right">
                        <a class="options" target="_blank" href="/admin/preview/<%= item._id %>">
                            <i class="glyphicon glyphicon-new-window text-primary"></i>
                        <a class="options" href="/admin/bundels/<%= item._id %>">
                          <i class="glyphicon glyphicon-pencil text-warning"></i></a>
                        <a class="options" href="/admin/bundel/delete/<%= item._id %>">
                          <i class="glyphicon glyphicon-trash text-danger"></i>
                        </a>
                      </td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>

                <%- include('../includes/admin/pagination',{link: '/admin/bundels'}); %>

              </div>
            </div>
      </div>
<%- include('../includes/admin/footer'); %>
