<%- include('../includes/admin/header',{page_title: 'User Managment'}); %>

      <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>



			<!-- /col-3 -->
  			<div class="col-sm-9">
				<h4 class="title">
					<strong><i class="glyphicon glyphicon-pushpin"></i> Create a Bundel</strong>
					<a href="/admin/bundels" class="btn btn-primary btn-sm pull-right">Back to list</a>
				</h4>
				<hr>

                <%- include('../includes/admin/message'); %>

                <div class="row">
					<div class="col-md-12">

						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12">
                                    <form class="form-horizontal" method="post" action="/admin/bundel<%= !!locals.item ? '/' + item._id : '' %>" name="bundel">
										<div class="form-group">
											<label for="bundelName">Name of interviewee</label>
                                            <input name="bundelName" id="bundelName"  value="<%= (!!locals.item ? item.name : (!!locals.request ? request.bundelName : '') ) %>" type="text" class="form-control" />
										</div>
                                        <div class="form-group">
											<label for="occupation">Occupation</label>
                                              <input name="occupation" id="occupation"  value="<%= (!!locals.item ? item.occupation : (!!locals.request ? request.occupation : '') ) %>" type="text" class="form-control" />
										</div>
                                        <div class="form-group">
											<label for="placeOfBirth">Place of birth</label>
                                              <input name="placeOfBirth" id="placeOfBirth" value="<%= (!!locals.item ? item.placeOfBirth : (!!locals.request ? request.placeOfBirth : '') ) %>" type="text" class="form-control" />
										</div>
                                        <div class="form-group">
                                            <label for="dateOfBirth">Date Of Birth</label>
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input type='text' name="dateOfBirth" id="dateOfBirth" value="<%= (locals.item ? dateFormat(item.dateOfBirth, 3, '/') : dateFormat('now')) %>" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
										<div class="form-group">
											<label for="frontEndDesc">Short Description</label>
                                            <textarea name="frontEndDesc" id="frontEndDesc" class="form-control"><%= (!!locals.item ? item.frontEndDesc : (!!locals.request ? request.frontEndDesc : '') ) %></textarea>
										</div>
                                        <div class="row select-box">
    										<div class="form-group col-md-5">
    											<label for="province">Province</label>
                                                <select name="province" id="province" class="form-control"  >
                                                    <option value="NL-DR" <%= (!!locals.item && item.province === 'NL-DR' ? 'selected' : (!!locals.request && request.province === 'NL-DR' ? 'selected' : '') ) %>>Drenthe</option>
                                                    <option value="NL-FR" <%= (!!locals.item && item.province === 'NL-FR' ? 'selected' : (!!locals.request && request.province === 'NL-FR' ? 'selected' : '') ) %>>Friesland</option>
                                                    <option value="NL-GR" <%= (!!locals.item && item.province === 'NL-GR' ? 'selected' : (!!locals.request && request.province === 'NL-GR' ? 'selected' : '') ) %>>Groningen</option>
                                                    <option value="NL-OV" <%= (!!locals.item && item.province === 'NL-OV' ? 'selected' : (!!locals.request && request.province === 'NL-OV' ? 'selected' : '') ) %>>Overijssel</option>
                                                    <option value="NL-FL" <%= (!!locals.item && item.province === 'NL-FL' ? 'selected' : (!!locals.request && request.province === 'NL-FL' ? 'selected' : '') ) %>>Flevoland</option>
                                                    <option value="NL-NH" <%= (!!locals.item && item.province === 'NL-NH' ? 'selected' : (!!locals.request && request.province === 'NL-NH' ? 'selected' : '') ) %>>Noord-Holland</option>
                                                    <option value="NL-GE" <%= (!!locals.item && item.province === 'NL-GE' ? 'selected' : (!!locals.request && request.province === 'NL-GE' ? 'selected' : '') ) %>>Gelderland</option>
                                                    <option value="NL-UT" <%= (!!locals.item && item.province === 'NL-UT' ? 'selected' : (!!locals.request && request.province === 'NL-UT' ? 'selected' : '') ) %>>Utrecht</option>
                                                    <option value="NL-ZH" <%= (!!locals.item && item.province === 'NL-ZH' ? 'selected' : (!!locals.request && request.province === 'NL-ZH' ? 'selected' : '') ) %>>Zuid-Holland</option>
                                                    <option value="NL-LI" <%= (!!locals.item && item.province === 'NL-LI' ? 'selected' : (!!locals.request && request.province === 'NL-LI' ? 'selected' : '') ) %>>Limburg</option>
                                                    <option value="NL-NB" <%= (!!locals.item && item.province === 'NL-NB' ? 'selected' : (!!locals.request && request.province === 'NL-NB' ? 'selected' : '') ) %>>Noord-Brabant</option>
                                                    <option value="NL-ZE" <%= (!!locals.item && item.province === 'NL-ZE' ? 'selected' : (!!locals.request && request.province === 'NL-ZE' ? 'selected' : '') ) %>>Zeeland</option>
                                                </select>
    										</div>
                                            <div class="form-group col-md-4">
                                                <label for="publishDate">Publish Date</label>
                                                <div class='input-group date' id='datetimepicker1'>
                                                    <input type='text' name="publishDate" id="publishDate" value="<%= (locals.item ? dateFormat(item.publishDate, 3, '/') : dateFormat('now')) %>" class="form-control" />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
    										<div class="form-group col-md-3">
    											<label for="language">Select a Language</label>
                                                <select name="language" id="language" class="form-control"  >
                                                    <option value="en" <%= (!!locals.item && item.language === 'en' ? 'selected' : (!!locals.request && request.language === 'en' ? 'selected' : '') ) %>>English</option>
                                                    <option value="nl" <%= (!!locals.item && item.language === 'nl' ? 'selected' : (!!locals.request && request.language === 'nl' ? 'selected' : '') ) %>>Dutch</option>
                                                    <option value="ro" <%= (!!locals.item && item.language === 'ro' ? 'selected' : (!!locals.request && request.language === 'ro' ? 'selected' : '') ) %>>Romanian</option>
                                                </select>
    										</div>
                                        </div>
                                        <div class="form-group">
                                            <textarea name="bundelEditor" id="editor1"></textarea>
                                        </div>
                                        <div class="form-group <%= locals.item ? 'btn-browser' : '' %>">
                                            <% if( locals.item ) { %>
                                                <img class="preview thumbnail" src="<%= item.mainImage %>" />
                                            <% } %>
                                            <label for="mainImage">Interviewee Photo</label><br/>
                                            <button class="btn btn-info selectFile" data-field="selectImage">Select Image</button>
                                            <input type="hidden" class="form-control" id="selectImage" name="mainImage" value="<%= (!!locals.item ? item.mainImage : (!!locals.request ? request.mainImage : '') ) %>"  />
                                        </div>
                                        <div class="form-group">
                                            <label for="mainImage">Interview Audio File</label><br/>
                                            <button class="btn btn-success selectFile" data-field="selectAudio">Select Audio</button>
                                            <audio controls>
                                                <source src="<%= (locals.item ? item.audio : (locals.request ? request.audio : '') ) %>" type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>
                                          <input type="hidden" class="form-control" id="selectAudio" name="audio" value="<%= (!!locals.item ? item.audio : (!!locals.request ? request.audio : '') ) %>"   />
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary pull-right"><%= (!!locals.item ? 'Edit' : 'Add') %> Interview</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <% var text = !!locals.item ? item.bundelEditor.replace(/\r?\n|\r/g,'') : ""; %>
                        <script type="text/javascript">
                            CKEDITOR.replace('editor1',ckeditorConfig);

                            CKEDITOR.on('dialogDefinition', function (event)
                            {
                                var editor = event.editor;
                                var dialogDefinition = event.data.definition;
                                var dialogName = event.data.name;

                                var cleanUpFuncRef = CKEDITOR.tools.addFunction(function ()
                                {
                                    // Do the clean-up of filemanager here (called when an image was selected or cancel was clicked)
                                    $('#filemanager_iframe').remove();
                                    $("body").css("overflow-y", "scroll");
                                });

                                var tabCount = dialogDefinition.contents.length;
                                for (var i = 0; i < tabCount; i++) {
                                    var browseButton = dialogDefinition.contents[i].get('browse');

                                    if (browseButton !== null) {
                                        browseButton.hidden = false;
                                        browseButton.onClick = function (dialog, i)
                                        {
                                            editor._.filebrowserSe = this;
                                            var iframe = $("<iframe id='filemanager_iframe' class='fm-modal'/>").attr({
                                                src: '/admin/browser' + // Change it to wherever  Filemanager is stored.
                                                    '?CKEditorFuncNum=' + CKEDITOR.instances[event.editor.name]._.filebrowserFn +
                                                    '&CKEditorCleanUpFuncNum=' + cleanUpFuncRef +
                                                    '&langCode=en' +
                                                    '&CKEditor=' + event.editor.name
                                            });

                                            $("body").append(iframe);
                                            $("body").css("overflow-y", "hidden");  // Get rid of possible scrollbars in containing document
                                        }
                                    }
                                }
                            }); // dialogDefinition
                            CKEDITOR.instances['editor1'].setData('<%- text %>');

                            $(document).ready(function(){

                                $('#datetimepicker1').datetimepicker({
                                            allowInputToggle: true,
                                            format: 'YYYY/MM/DD HH:mm'
                                        });
                                $('#datetimepicker2').datetimepicker({
                                            format: 'YYYY/MM/DD'
                                        });
                            });

                        </script>
					</div>
        </div>

            <!--/col-span-9-->
<%- include('../includes/admin/footer'); %>
