<%- include('../includes/admin/header',{page_title: 'Site Setting'}); %>
			<!-- /col-3 -->
			<div class="col-sm-9">

				<h4 class="title">
					<strong><i class="glyphicon glyphicon-cog"></i> Settings</strong>
				</h4>
				<hr>

				<div class="row">
                    <div class="col-md-12">

						<%- include('../includes/admin/message'); %>
						<div class="row">
							<div id="exTab2" class="col-md-12">
								<ul class="nav nav-tabs">
									<li class="active">
										<a  href="#1" data-toggle="tab">Global</a>
									</li>
									<li>
										<a href="#2" data-toggle="tab">Theme Colors</a>
									</li>
									<li>
										<a href="#3" data-toggle="tab">Social Media</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">

								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12">
											<form class="form-horizontal" action="/admin/setting" method="post">
												<div class="tab-content">
													<div class="tab-pane active" id="1">
														<div class="form-group">
															<label for="site_name">Website Name</label>
															<input type="text" class="form-control" id="site_name" name="site_name" value="<%= !!locals.site_name ? site_name : '' %>">
														</div>
														<div class="form-group btn-browser">
															<% if( locals.site_logo ) { %>
																<img class="preview thumbnail" src="<%= site_logo %>" />
															<% } %>
															<label for="site_logo">Logo</label><br/>
															<button class="btn btn-info selectFile" data-field="site_logo">Change Logo</button>
															<input type="hidden" class="form-control" id="site_logo" name="site_logo" value="<%= !!locals.site_logo ? site_logo : '' %>">
														</div>
														<div class="form-group">
															<input type="checkbox" name="site_use_theme" <%= !!locals.site_use_theme && locals.site_use_theme === 'on' ? 'checked' : '' %> data-toggle="toggle" data-on="Enable" data-off="Disabled" data-onstyle="success" data-offstyle="danger" id="site_use_theme" />
															<label for="site_use_theme">Use Default Theme</label>
														</div>
														<div class="form-group">
															<label for="site_def_language">Default Language</label>
				                                            <select name="site_def_language" id="site_def_language" class="form-control"  >
				                                                <option value="en" <%= !!locals.site_def_language && locals.site_def_language === 'en' ? 'selected' : '' %>>English</option>
				                                                <option value="nl" <%= !!locals.site_def_language && locals.site_def_language === 'nl' ? 'selected' : '' %>>Dutch</option>
				                                                <option value="ro" <%= !!locals.site_def_language && locals.site_def_language === 'ro' ? 'selected' : '' %>>Romanian</option>
				                                            </select>
														</div>
														<div class="form-group">
															<label for="site_def_map">Map</label>
				                                            <select name="site_def_map" id="site_def_map" class="form-control"  >
				                                                <option value="netherlandsLow" <%= !!locals.site_def_map && locals.site_def_map === 'netherlandsLow' ? 'selected' : '' %>>Netherlands</option>
				                                                <option value="iranLow" <%= !!locals.site_def_map && locals.site_def_map === 'iranLow' ? 'selected' : '' %>>Iran</option>
				                                                <option value="syriaLow" <%= !!locals.site_def_map && locals.site_def_map === 'syriaLow' ? 'selected' : '' %>>Syria</option>
				                                            </select>
														</div>
													</div>
													<div class="tab-pane" id="2">
														<div class="form-group">
															<label for="site_color">Main Background Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_color ? site_color : '' %>" name="site_color" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
														<div class="form-group">
															<label for="site_area_color">Areas Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_area_color ? site_area_color : '#000' %>" name="site_area_color" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
														<div class="form-group">
															<label for="site_outlineColor">Outline Areas Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_outlineColor ? site_outlineColor : '#000' %>" name="site_outlineColor" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
														<div class="form-group">
															<label for="site_rollOverColor">Roll Over Areas Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_rollOverColor ? site_rollOverColor : '#000' %>" name="site_rollOverColor" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
														<div class="form-group">
															<label for="site_selectedColor">Selected Areas Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_selectedColor ? site_selectedColor : '#000' %>" name="site_selectedColor" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
														<div class="form-group">
															<label for="site_selectedOutlineColor">Selected Areas Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_selectedOutlineColor ? site_selectedOutlineColor : '#000' %>" name="site_selectedOutlineColor" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
														<div class="form-group">
															<label for="site_circle_label">Circle Label Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_circle_label ? site_circle_label : '#000' %>" name="site_circle_label" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
														<div class="form-group">
															<label for="site_circle_color">Circle Color</label>
															<div class="cp2 input-group colorpicker-component">
															    <input type="text" value="<%= !!locals.site_circle_color ? site_circle_color : '#000' %>" name="site_circle_color" class="form-control" />
															    <span class="input-group-addon"><i></i></span>
															</div>
														</div>
													</div>
													<div class="tab-pane" id="3">
														<div class="form-group">
															<label for="site_twitter">Twitter</label>
															<input type="text" class="form-control" id="site_twitter" name="site_twitter" value="<%= !!locals.site_twitter ? site_twitter : '' %>">
														</div>
														<div class="form-group">
															<label for="site_google">Google+</label>
															<input type="text" class="form-control" id="site_google" name="site_google" value="<%= !!locals.site_google ? site_google : '' %>">
														</div>
														<div class="form-group">
															<label for="site_facebook">Facebook</label>
															<input type="text" class="form-control" id="site_facebook" name="site_facebook" value="<%= !!locals.site_facebook ? site_facebook : '' %>">
														</div>
													</div>
												</div>
												<div class="form-group">
													<button type="submit" class="btn btn-primary pull-right">Save Settings</button>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>
                    </div>
                </div>
            </div>
            <!--/col-span-9-->
<%- include('../includes/admin/footer'); %>
